li {
    list-style: none;
}
html {
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}



.container {
    background-color: white; 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(149, 173, 165);
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-item {
    font-size: 1.2rem;
}

.nav-item1 {
    font-size: 3rem;
}

.instructions {
    margin: 1rem;
    font-size: 1.5rem;
    padding: 0 3rem;
}



.contents {
    background-color: aquamarine;
    content: " ";
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
} 

.button-container {
    width: 30%;
    height: 90%;
    content: " ";
    color: black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
}

.button {
    height:15%;
    border: 2px solid blueviolet;
    border-radius: 8px;
    box-shadow: 2px 2px 0;
    width: 100%;
    font-style: monospace;
    font-size: 1.1rem;

}
button:active {
    font-size: 1.5rem;
    color: red;
}
button:hover {
    cursor: pointer;
}
.buttonContent{
    height: 80%;
    content: "";
    background-color: aqua;
}

.optional {
    text-align: center;
    height: 120vh;
    background-color: aquamarine;
    font-size: 1.3rem;
    font-style: monospace;
}
#optContent {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
}

#button4 {
    width: 40%;
    border: 2px solid blueviolet;
    border-radius: 8px;
    box-shadow: 2px 2px 0;
    font-style: monospace;
    font-size: 1.1rem;
}